.app-container {
  height: 100vb;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.error-message-container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: auto;
  height: auto;
  min-height: 50px;
  min-width: 100px;
  max-width: 400px;
  max-height: 100px;
  background-color: #ffcccc;
  border: 1px solid red;
  border-radius: 4px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  z-index: 10000;
  font-size: 15px;
  display: flex;
  gap: 15px;
}

.error-message-container .error-message-prefix-bar {
  display: inline-block;
  height: auto;
  width: 8px;
  background-color: red;
}

.error-message-container .error-message-text {
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message-text span {
  color: red;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.input-container {
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 10000;
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 10px;
}

.input-container .tab-selector {
  width: 200px;
  height: 35px;
  display: flex;
  gap: 0px;
  font-size: 14px;
  font-weight: 450;
  margin-left: 10px;
  font-family: 'Muli';
}

.tab-selector .tab {
  background-color: beige;
  cursor: pointer;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 10px 10px 0 0;
}

.tab img {
  width: 20px;
  height: 20px;
}

.tab-selector .grey {
  background-color: #b9b9ad;
}

.carbon-calculator-form {
  padding: 10px;
  width: auto;
  height: auto;
  background-color: beige;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: inherit;
  font-family: 'Muli';
}

.form {
  width: 90%;
  display: flex;
  flex-direction: column;
}

.form-entry {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: flex-start;
  justify-content: center;
  font-size: 14px;
}

.form-entry .input-box {
  width: 150px;
  height: 30px;
  border: 2px solid grey;
  border-radius: 5px;
}

.form-entry .drop-down {
  width: 100px;
}

.carbon-calculator-form .submit-button {
  margin-bottom: 5px;
  align-self: flex-end;
}

.results-container {
  width: 300px;
  height: auto;
  background-color: beige;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10000;
  border-radius: 10px;
  font-family: 'Muli';
}

.emissions,
.route-data {
  display: flex;
  flex-direction: column;
}

.emission-details {
  display: flex;
  flex-direction: column;
  gap: 2px;
  font-size: 13px;
}

.emissions .heading {
  font-weight: 700;
}
.route-data .heading {
  font-weight: 700;
}

.value {
  font-size: 15px;
  font-weight: 500;
  margin-top: 5px;
}

.label {
  font-size: 11px;
}

.location-marker {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
}
.location-marker .emission-details {
  display: flex;
  flex-direction: column;
}

.offset-button {
  align-self: center;
}
