.offset-page {
  width: 100%;
  height: 100vh;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
}

.offset-page .outer-container {
  height: auto;
  width: auto;
  display: flex;
}

.offset-page .banner {
  background-color: #7b7b6e;
  width: 400px;
  height: inherit;
}

.offset-page .form-container {
  background-color: white;
  padding: 15px;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label {
  font-family: 'Muli';
}

.form-container > label {
  font-weight: 700;
  margin-bottom: 5px;
}

.form-container .buttons-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.form-container .buttons-group * {
  width: 150px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
  font-weight: 500;
  align-items: center;
}

.form-subheading {
  font-weight: bold;
}

.form-field {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5px;
}

.form-field input,
select {
  border: 1px solid #e8e7e6;
  border-radius: 6px;
  height: 35px;
}

.form-field .multiple-input-inline {
  display: flex;
  gap: 20px;
  width: 100%;
  flex: 1;
}

.multiple-input-inline * {
  flex: 1;
}

.checkbox {
  margin-top: 5px;
  gap: 5px;
}

.checkbox label {
  padding: 1px;
}

.submit-buttons {
  justify-content: center;
}

.submit-buttons * {
  width: 15%;
}

.error-label {
  color: red;
  font-size: 13px;
}

.offset-types-container {
  display: flex;
  gap: 5px;
  opacity: 1;
  max-height: auto;
}

.offset-types-container label {
  font-size: 15px;
}

.offset-type {
  height: auto;
  width: auto;
  border: 1px solid #7b7b6e;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  gap: 2px;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.hidden {
  opacity: 0;
  max-height: 0;
  pointer-events: none;
}

.offset-type img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.offset-type label {
  font-size: 10px;
  font-weight: 600;
  cursor: pointer;
}

.highlight {
  background-color: beige;
}
